{% extends 'index.html' %}


{% block page-content %}
    {% csrf_token %}
    <div class="row">

        {% include 'task_common_hosts.html' %}

        <div class="col-sm-9">
            <div class="panel ">
                <div class="panel-heading">
                    <h3 class="panel-title">文件传输</h3>
                </div>
                <div class="panel-body">
                    <select id="file_transfer_type" class="form-control" onchange="check_file_transfer_type(this)">
                        <option value="send">向远程发送文件</option>
                        <option value="get">从远程下载文件</option>
                    </select>
                    <input id="local_file_path" class="form-control" placeholder="本地文件路径">
                    <input id="remote_file_path"class="form-control" placeholder="远程文件路径">


                    <input id="task_submit_btn" type="button" onclick="PostTask(this,'file_transfer')" class="btn btn-success pull-right" value="执行命令">
                </div>
            </div>

            <div class="panel ">
                <div class="panel-heading">
                    <h3 class="panel-title">执行结果</h3>
                </div>
                <div class="panel-body">
                    <ul id="task_result_container"></ul>
                </div>
            </div>


        </div>

    </div>



    {% include 'task_common_js.html' %}
{% endblock %}